appdirs==1.4.3
bleach==3.0.2
bumpversion==0.5.3
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
filelock==3.0.10
idna==2.7
mock==2.0.0
packaging==18.0
pbr==5.1.1
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
Pygments==2.2.0
pyparsing==2.3.0
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
toml==0.10.0
tox==3.5.3
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
virtualenv==16.1.0
webencodings==0.5.1
